@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
* {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .backgound_image_desktop {
    background-image: url("../public/images/Rectangle\ 3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .customGrid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
@media (max-width: 769px) {
  .backgound_image_desktop {
    background-image: url("../public/images/Rectangle\ 3(1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .customGrid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
